body {
	background-color: rgb(255, 255, 255);
}

table{
	border-collapse: collapse;
	width: 94%;
	/*自動斷行*/
	word-wrap: break-word;
	table-layout: fixed;
}

.ro{
	background-color: #e7e5e5;

}

.button{
	margin:5px;
	width:50px;
	height:24px;
}

.id {
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.title {
	width:30%;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.source {
	width:15%;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.category {
	width:20%;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.tag {
	width:15%;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.display {
	width:6%;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.delete {
	width:4%;
	font-size: 17px;
}
.edit {
	overflow: hidden;
	width:4%;
	font-size: 17px;
}